
body {margin:0;
  font-family:Arial;
  overflow-x: hidden;
  
  

}

.topnav {
 /* overflow-y: hidden; */

  color: black !important;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px; 
  margin-top: -2rem;
  text-decoration: none;
  font-size: 17px;
 
}

.active {
  color: rgb(160, 44, 36) !important;
  transition: color 1s ease-in !important;
  border-bottom: 0.5rem solid  rgb(160, 44, 36) !important;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
   overflow: hidden;
   line-height: 2rem;
   margin-top: 2rem;
   height: 4rem; 
}

.dropdown .dropbtn {
  font-size: 100px;    
  border: none;
  margin-top: 2rem;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 4rem;
  line-height: 2rem;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover {
  border-bottom: 0.5rem solid #555 !important;
 
}

.topnav a:hover, .dropbtn {
  color: #555 !important;
 
  color: white;
}
.dropdown:hover {
  
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.bg {
   
    display: block;
    background-size: cover;
    margin-bottom: 20rem;
    position: relative;
  }
  input {
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 500px;
    height: 50px;
    top: 50px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }

.result{
    text-align: center;
    font-size: 2rem;
    width:600px;
    color:black;
    position: absolute;
    top: 30%;
    left:29%;
    font-weight:bold;
    font-family:'Montserrat', sans-serif;
    

}
span{
    padding:10px;
    text-align:center;

}
.button {
    transition: all .5s ease;
    color:steelblue;
    border: 2px solid steelblue;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    font-weight:bold;
    position: absolute;
    top: 250%;
    left:46%;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}
.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
  
  
}
.title p{
  font-size: 1rem;
}





@media screen and (max-width: 1160px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    
  }
}

@media screen and (max-width: 1160px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.5rem;
    
  }

  @media screen and (max-width: 400px) {
     input{
         width:250px;
     }
    }

    @media screen and (max-width: 400px) {
        button{
            left:20%;
        }
       }
   

    

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
   
    
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
  }
}